%form{ action: '/', method: 'post' }
  %p
    %input{type: 'text', name: 'name', placeholder: 'title (optional)' }
  %p
    %textarea.tbox{ name: 'content', placeholder: 'paste it here...', autofocus: true}
  %p
    %input{ type: 'submit', value: 'submit' }
