!!!

%html
  %head
    %title= @title
    %link{:type => "text/css", :rel => "stylesheet", :href => "/style.css"}
  %body
    .container
      %p clipboar
      %p
        %img.boar{src: 'http://bestclipartblog.com/clipart-pics/boar-clip-art-1.png'}
      =yield
