!!!

%html
  %head
    %title Clipboar
    %link{:type => "text/css", :rel => "stylesheet", :href => "/style.css"}
    <meta name="description" content="Self destructing pastes">
  %body
    .container
      %h1 clipboar
      %p Self destructing pastes
      %p
        %img.boar{src: 'http://bestclipartblog.com/clipart-pics/boar-clip-art-1.png'}
      =yield
