@font-face {
  font-family: boar;
  font-size: 36;
  src: url(BOARDER.ttf);
}

img.boar {
  width: 20%;
}

.container {
  text-align: center;
}

textarea.tbox {
  width: 50%;
  height: 200px;
  resize: none;
}

.container {
  font-family: boar;
}
